p
  h2 Message created on #{model.get("created")}
  span #{model.get("body")}
  - var hasSendBefore = user.attributes.messages.indexOf(model.id) === -1
  - var logged = !user.isNew()
  - if(logged && hasSendBefore)
    button.resendButton resend
br