doctype html
html
  head
    script.
      window.serverData = !{JSON.stringify(serverData)}
    script(src="/app.js")
    script(src="/socket.io/socket.io.js")
  body
    img(src="http://smallbiztrends.com/wp-content/uploads/2011/04/social-power.jpg")
    .viewsContainer