doctype html
html
  head
    script(src="/app.js")
  body
    p Welcome to Socialpower - the game -
      br
      span 
        a(href="javascript: void(0)") login
      span  or 
      span 
        a(href="javascript: void(0)") register